@value primary-bg-color from "../../variables.module.css";
@value primari-text-color from "../../variables.module.css";

.wrap {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(32, 32, 32);
  border-radius: 5px;
}

.link:not(:last-of-type) {
  margin-right: 10px;
}

.link:hover {
  background-color: primary-bg-color;
  color: primari-text-color;
}

.active {
  background-color: primary-bg-color;
  color: primari-text-color;
}
