.title {
  padding: 20px;
  text-align: center;
  font-size: 36px;
  color: rgb(32, 32, 32);
}

.movieList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}
