@value primary-bg-color from "../../variables.module.css";
@value primari-text-color from "../../variables.module.css";
.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  background-color: primary-bg-color;
  padding: 20px;
}

.nav__link {
  color: rgb(32, 32, 32);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.active {
  border: 1px solid rgb(32, 32, 32);
  border-radius: 15px;
  color: primari-text-color;
  font-size: 22px;
}
